.mainContainer{
  background-image: url("/palco.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title{
  text-align: center;
  font-size: large;
  color: greenyellow;
  text-shadow: 0px 0px 10px greenyellow;
}

.subtitle{
  text-align: center;
}

.inputBox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 30%;
}

.inputField{
  width: 50%;
  height: 30%;
  border: 1px solid white;
  box-shadow: 0px 0px 10px white;
  font-size: large;
  text-align: center;
  text-decoration: white;
  background-color: black;
}


.button{
  width: 80%;
  height: 30%;
  border: 1px white solid;
}

.button:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 10px white;
}
